{% extends 'layouts/main.html' %}
{% block title %} Product description {% endblock %}
{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/product-style.css')}}"></script>

<main class="product-container">
  
  <!-- Left Column -->
  <div class="left-column">
 
    <!-- Product Description -->
    <div class="product-description">
      <span>{{ product.main_cat }}</span>
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
    </div>
 
    <!-- Product Configuration -->
    <div class="product-configuration">
 
      <!-- Cable Configuration -->
      <div class="cable-config">
        <span>Cable configuration</span>
 
        <div class="cable-choose">
          <button>Straight</button>
          <button>Coiled</button>
          <button>Long-coiled</button>
        </div>
 
        <!--<a href="#">How to configurate your headphones</a> -->
      </div>
    </div>
 
    <!-- Product Pricing -->
    <div class="product-price">
      <span>148$</span>
      <a href="#" class="cart-btn">Add to cart</a>
    </div>
  </div>

  
  <!-- Eight Column -->
  <div class="right-column">
    <div class="product-description">
      <!-- <span>Headphones</span> -->
      <h3>Recommandations</h3>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product name</th>
          <th scope="col">Product manufacturer</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(recommandations|count) %}
          <tr class="clickable-row" data-href={{ url_for('get_product', id=recommandations[i].id)}} method=POST>
            <td>{{ recommandations[i].name }}</td>
            <td>{{ recommandations[i].manufacturer }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>

{% endblock %}
