{% extends 'layouts/main.html' %}
{% block title %} Product description {% endblock %}
{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/product-style.css')}}"></script>
<script src="{{url_for('static', filename='js/libs/jquery.min.js')}}"></script>
<link rel="shortcut icon" href="/static/img/img0.jfif">
<link rel="shortcut icon" href="/static/img/img1.jfif">
<link rel="shortcut icon" href="/static/img/img2.jfif">
<link rel="shortcut icon" href="/static/img/img3.jfif">
<link rel="shortcut icon" href="/static/img/img5.jfif">
<link rel="shortcut icon" href="/static/img/img4.jfif">
<script>

jQuery(document).ready(function($) {
  let randomNumber = Math.floor(Math.random() * 6);
  let image = "/static/img/img" + randomNumber + ".jfif";
  $("#productImage").attr("src", image);
});
</script>

<main class="product-container">
  
  <!-- Left Column -->
  <div class="left-column">
 
    <!-- Product Description -->
    <div class="product-description">
      <span>{{ product.main_cat }}</span>
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
    </div>
 
    <div class="image-holder">
      <img id="productImage" src="">
    </div>

    <!-- Product Configuration -->
    <div class="product-configuration">
 
      <a href="#">How to choose your size.</a>
      <!-- Cable Configuration -->
      <div class="cable-config">
        <span>Sizes available:</span>
 
        <div class="cable-choose">
          <button>32GB</button>
          <button>64GB</button>
          <button>128GB</button>
        </div>
 
      </div>
    </div>
 
    <!-- Product Pricing -->
    <div class="product-price">
      <span>{{ range(1, 101) | random }},{{ range(0, 100) | random }}$</span>
      <a href="#" class="btn btn-success cart-btn">Add to cart</a>
      <a href="#" class="btn btn-primary cart-btn">Add to wishlist</a>
    </div>
  </div>

  
  <!-- Eight Column -->
  <div class="right-column">
    <div class="product-description">
      <!-- <span>Headphones</span> -->
      <h3>Recommandations</h3>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product name</th>
          <th scope="col">Product manufacturer</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(recommandations|count) %}
          <tr class="clickable-row" data-href={{ url_for('get_product', id=recommandations[i].id)}} method=POST>
            <td>{{ recommandations[i].name }}</td>
            <td>{{ recommandations[i].manufacturer }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>

{% endblock %}
